
.pageBtn{
    background-color: #000;

    color: #fff;
    font-size: 15px;
    min-width: 30px;
    min-height: 30px;
    margin: 5px;
    box-shadow: 0 0 0 4px #000;
    border-radius: 10px 10px 10px 10px;
  border:  3px #ccc solid;
  font-family: "Ubuntu";
 
}


.curPageBtn{
    background-color: #fff;
    color: #000;
    min-width: 30px;
    min-height: 30px;
    margin: 5px;
    box-shadow: 0 0 0 4px #888;
    border-radius: 10px 10px 10px 10px;
    border-color: #000;
  font-family: "Ubuntu";
 
}

.pagination{
    display: flex;
    justify-content: center;
}